/* =============== Slider =============== */
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="range"]::webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
}

.slider-icon {
    margin: var(--sp-1);
}

.slider.vertical {
    flex-direction: column;
}

.slider.vertical input[type="range"] {
    -webkit-appearance: slider-vertical;
}
