/* ============================ Google Fonts ========================== */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");

/* ============================ Custom Fonts ========================== */
@font-face {
    font-family: PlusJakartaSans-ExtraBold;
    src: url(/assets/fonts/PlusJakartaDisplay-Bold.otf);
    font-weight: 800;
}
@font-face {
    font-family: PlusJakartaSans-Bold;
    src: url(/assets/fonts/PlusJakartaText-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: samarkan;
    src: url(/assets/fonts/samarkan.ttf);
}

/* ============== Variable CSS ============= */
:root {
    --header-height: 3.5rem;

    /* ========== Colors =========== */
    --primary-color: #0ea5e9;
    --primary-color-alt: #0369a1;
    --title-color: #2d3748;
    --text-color: #222833;
    --text-color-light: #718096;
    --body-color: #f8fafc;
    --container-color: #fafaf9;

    /* ======= Font & Typography ======= */
    --body-font: "IBM Plex Sans", sans-serif;

    --biggest-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* ======= Font Weight ======= */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;

    /* ======= Margenes Bottom ======= */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* =========== Z Index ========== */
    --z-fixed: 100;
}

/* Responsive Typography */
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }

    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
}

/* =========== Base ========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);

    /* For animation to dark mode */
    transition: 0.4s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    outline: none;
}

.hidden {
    display: none;
}

/* ====== Variable Dark Theme ====== */
body.dark-theme {
    --title-color: #f8fafc;
    --text-color: #cbd5e1;

    --body-color: #1a202c;
    --container-color: #181e29;
}

/* ========= Header ========= */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);

    /* For animation to dark mode */
    transition: 0.4s;
}

/* ======== Navbar ========= */
.nav {
    height: var(--header-height);
    font-size: var(--h2-font-size);
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.nav a {
    font-family: "samarkan";
    font-size: var(--big-font-size);
    color: var(--title-color);
    padding-left: 1rem;
}

.nav__btns,
.nav__btns a {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__btns i {
    padding-right: 2rem;
    color: var(--title-color);
}

.nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100vh;
    padding: 2rem;
    background-color: rgba(167, 175, 187, 0.97);
    backdrop-filter: blur(15px);
    transition: 0.4s;
}
.dark-theme .nav__menu {
    background-color: rgba(16, 37, 56, 0.99);
}
.dark-theme .nav {
    background-color: rgba(12, 134, 233, 0.082);
    backdrop-filter: blur(15px);
}
.show-menu {
    right: 0;
}

.nav__item {
    margin-bottom: var(--mb-1);
}

.nav__item a {
    color: var(--title-color);
    font-family: var(--body-font);
}

@media screen and (min-width: 768px) {
    .nav {
        background-color: rgba(255, 255, 255, 0.082);
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__menu {
        width: 70%;
    }

    .nav__menu,
    .nav__list {
        position: inherit;
        height: var(--header-height);
        padding: 0;
        margin: 0;
        display: flex;
        align-items: flex-end;
        background-color: transparent;
    }
    .nav__item a {
        font-size: var(--normal-font-size);
    }

    .dark-theme .nav__menu,
    .dark-theme .nav {
        background-color: transparent;
    }

    .header {
        margin-left: calc(50vw - 384px);
    }
}

@media screen and (min-width: 1024px) {
    .header {
        margin-left: calc(50vw - 512px);
    }
}

/* ========= Hero Section ========== */
.hero {
    margin-top: 9rem;
    height: 90vh;
}

.home__data {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__title {
    font-size: 6rem;
    font-weight: var(--font-extra-bold);
    color: var(--title-color);
}
.dark-theme .home__title {
    color: var(--title-color);
}

.home__description {
    font-size: 1.125rem;
    color: var(--text-color-light);
    text-align: center;
    line-height: 1.625rem;
    margin: 2rem;
}

.cta__btns {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.cta,
.start {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: var(--body-color);
    text-align: center;

    padding: var(--mb-1-5);
    border-radius: 0.4rem;
    margin: var(--mb-1);
}

.start {
    color: var(--text-color);
    background-color: #cbd5e1;
    border-radius: 0.4rem;
    outline: none;
}
.dark-theme .start {
    color: var(--text-color);
    background-color: #334155;
}

@media screen and (min-width: 768px) {
    .home__description {
        font-size: 1.25rem;
        line-height: 1.875rem;
        max-width: 40rem;
    }

    .cta__btns {
        flex-direction: row;
        justify-content: center;
    }
    .cta,
    .start {
        font-size: 1.1875rem;
        min-width: 15rem;
        padding: var(--mb-1);
    }
}

/* ====== Installation Section ======  */

.installation,
.installation__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.installation__data {
    font-size: 1.125rem;
    color: var(--text-color-light);
    text-align: center;
    line-height: 1.625rem;
    margin: 2rem;
}

.installation__data h2 {
    font-size: var(--biggest-font-size);
    color: var(--title-color);
    margin: 0rem 1rem 4rem 1rem;
}

@media screen and (min-width: 768px) {
    .installation__data {
        max-width: 40rem;
    }
}

/* ===== Footer ===== */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #e2e8f0;
    padding: 1rem;
    margin-top: 5rem;
}
.dark-theme .footer {
    background-color: var(--container-color);
}

.footer h3,
.footer .contact {
    font-size: 1.5rem;
}

.contact i {
    margin: 2rem 1rem;
    color: var(--title-color);
}
